<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrandNew{{title}}</title>
</head>
<header>
<title>{{title}}</title>
<p>A New Blog for a New Generation</p>
<nav>
    <a href="/{{nav1}}">{{nav1}}</a>
    <a>{{nav2}}</a>
</nav>
<button>Logout</button>
</header>
<body>
    {{{body}}}
</body>
</html>